body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  max-width: 320px;
  max-height: 510px;
}

.card .img-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.text-container h1 {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 28px;
}

.text-container p {
  color: hsl(216, 15%, 48%);
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  line-height: 1.5rem;
}
